@font-face {
  font-family: 'Yang Bagus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/yang-bagus-latin-e4902677.woff2') format('woff2');
}

@font-face {
  font-family: 'Vergilia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/vergilia-latin-9d071c69.woff2') format('woff2');
}

@font-face {
  font-family: 'Watom';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/watom-latin-8a598f2d.woff2') format('woff2');
}
